@font-face {
  font-family: "Authentic";
  src: url("fonts/sans.woff2") format("woff2");
}

@font-face {
  font-family: "Century";
  src: url("fonts/serif.woff2") format("woff2");
}

:root {
  --bright: #feff5a;
  --light: wheat;
  --dark: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: crosshair;
}

button {
  all: unset;
  font-family: "Authentic", sans-serif;
  color: var(--dark);
  padding: 1px 2px;
  margin: 0 3px;

  transition: all 0.1s;
}

button:hover {
  color: var(--bright);
  background-color: var(--dark);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  width: 100vw;
  height: 5vh;

  font-family: "Century", serif;
}

.header > :last-child {
  display: flex;
  justify-content: flex-end;
}

.presentation-area {
  display: grid;
  padding: 10px;

  grid-template-columns: 1fr 0.0125fr 1fr 0.0125fr 1fr 0.0125fr 1fr 0.0125fr 1fr 0.0125fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  background-color: var(--light);
  height: 100vh;
  width: 100vw;
}

.title {
  font-family: "Century", serif;
  font-size: 2.5rem;

  grid-column-start: 2;
  grid-column-end: 6;

  grid-row-start: 3;

  text-transform: uppercase;
}

.content {
  font-family: sans-serif;

  grid-column-start: 3;
  grid-row-start: 2;
  grid-column-end: 8;

  font-size: 0.9em;

  line-height: 1.23em;
}

.content > :first-child {
  margin-bottom: 0.4em;
  font-weight: 100;
}

a {
  all: unset;
  color: var(--dark);
  border-bottom: 1px solid var(--dark);
}

a:hover {
  color: var(--bright);
}

.image-box {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
  box-shadow: 0 0 50px 5px rgba(0, 0, 255, 0.05);

  /* z-index: -1; */
}

.image-box img {
  width: 35vw;
}
