/* @font-face {
  font-family: healB;
  src: url("fonts/healthewebb-regular-webfont.woff"),
    url("fonts/healthewebb-regular-webfont.woff2");
} */
@font-face {
  font-family: healB;
  src: url("fonts/HealTheWebB-Regular.otf");
}
/* @font-face {
  font-family: linea;
  src: url("fonts/Linea.otf");
} */
@font-face {
  font-family: basker1;
  src: url("fonts/BBBBaskervvol-Base.woff"),
    url("fonts/BBBBaskervvol-Base.woff2");
}
@font-face {
  font-family: basker2;
  src: url("fonts/BBBBaskervvol-Fondue.woff"),
    url("fonts/BBBBaskervvol-Fondue.woff2");
}
:root {
  --main-color: rgba(28, 28, 28, 0.4);
  --right-color: #fffffff9;
  --background-color: #ffffffa7;
  --accent-color: rgb(15 0 255);
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  margin: 0px;
  background-color: var(--background-color);
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1;
  text-align: center;
}
.popup-content {
  margin: 2% auto;
  display: block;
  max-width: 70%;
  max-height: 95%;
}
.popup.active {
  display: flex;
  align-items: center;
}
.popup.update {
  display: flex;
  align-items: center;
  background-color: #9affe1de;
}
.popup-content.update {
  margin: 2% auto;
  display: flex;
  max-width: 70%;
  max-height: 95%;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.notice {
  font-size: 8rem;
  font-family: "healB";
  text-shadow: 1px -5px 10px rgba(0, 0, 255, 0.55),
    20px 20px 18px rgba(0, 0, 255, 0.26),
    1px -14px 17px rgba(255, 254, 252, 0.18);
  color: white;
  animation-name: notice-ani;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.notice-container {
  width: 52vw;
}
.notice:nth-child(5n) {
  animation-duration: 1s;
}
.notice:nth-child(5n + 1) {
  animation-duration: 5s;
}
.notice:nth-child(5n + 2) {
  animation-duration: 2s;
}
.notice:nth-child(5n + 3) {
  animation-duration: 0.5s;
}
.notice:nth-child(5n + 4) {
  animation-duration: 4s;
}
.notice.small {
  font-size: 3rem;
  text-shadow: 1px -5px 10px rgba(0, 0, 255, 0.55),
    20px 10px 18px rgba(0, 0, 255, 0.26),
    1px -14px 17px rgba(255, 254, 252, 0.18);
  /* color: white; */
  color: var(--accent-color);
  /* font-family: "basker1"; */
  /* color: var(--accent-color); */
  /* text-shadow: none; */
}
.change-back {
  position: fixed;
  left: 5vw;
  bottom: 2vh;
  font-size: 2rem;
  font-family: basker1;
}
.main {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  margin: 1rem;
  left: 30vw;
  top: 15vh;
}
.main.updating {
  /* filter: blur(5px); */
}
.navbar-container {
  /* width: max-content; */
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  height: 100vh;
  /* flex: 1; */
}
#daddy {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.working-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-direction: column;
  gap: 1rem;
}
.container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 3;
}
.container-right.work {
  width: 70vw;
  /* border: 3px dotted #d4f4ea;
  background-color: var(--right-color);
  box-shadow: 5px 5px 100px 20px rgba(255, 255, 255, 0.5);
  padding: 2rem 1rem 0.5rem 2rem;
  margin-bottom: 1rem; */
}
.container-side {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  background-color: var(--right-color);
  flex: 1;
}
.slider-container {
  margin-left: 0.5rem;
}
.slider {
  -webkit-appearance: none;
  width: 28vw;
  height: 10px;
  border-radius: 0px;
  background: none;
  outline: none;
  border: 0.5px solid #000000;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  border-radius: 0;
  background: #000000;
  cursor: pointer;
  box-shadow: 1px 1px 20px 1px rgba(180, 180, 180, 0.5);
}
.coming-btn {
  background: var(--accent-color);
  border: none;
  color: white;
  width: 80%;
  font-family: "healB";
  font-size: 1.6rem;
  text-decoration: underline;
  padding: 0 2rem 0 2rem;
}
.header {
  /* width: max-content; */
  width: 100%;
  height: max-content;
  margin-left: 1rem;
  /* border: 1px solid var(--accent-color); */
  background-color: white;
  box-shadow: 5px 5px 100px 20px rgba(255, 255, 255, 0.5);
  /* padding: 1rem; */
  /* margin: 1rem; */
}
.header-right {
  width: 100%;
  height: max-content;
  border: 0.5px solid #000000;
  background-color: var(--right-color);
  box-shadow: 5px 5px 100px 20px rgb(255 255 255);
  padding: 1rem 0.5rem 0.5rem 1rem;
  margin-bottom: 1rem;
}
.header-right-alter {
  width: 100%;
  height: 100%;
  border: 0.5px solid #000000;
  padding: 1rem 0.5rem 0.5rem 1rem;
}
.header-right-alter-gallery {
  width: 100%;
  height: 100%;
  /* border: 2px dotted #ceffd8; */
  /* border: 0.5px solid #000000; */
  background-color: var(--right-color);
  /* box-shadow: 5px 5px 100px 20px rgba(255, 255, 255, 0.09); */
  box-shadow: 5px 5px 100px 20px rgba(255, 255, 255, 0.5);
  padding: 1rem 0.5rem 0.5rem 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.header-right-alter2 {
}
/* blocks formating */
.block-title {
  font-family: healB;
  font-feature-settings: none;
  font-size: 3rem;
  color: var(--accent-color);
  margin: 1rem 2rem 2rem 0;
}
.block-title.alter {
  font-size: 2.5rem;
  margin: 0.5rem 2rem 0.5rem 0;
  /* color: black; */
}
.block-title.about {
  font-size: 4rem;
  font-family: basker1;
  padding: 1rem;
}
.block-img {
  width: 60%;
  margin-top: 1rem;
  /* filter: grayscale(1); */
}
.block-img-side {
  width: 100%;
}
.block-img-working {
  width: 100%;
  filter: grayscale(1);
}
.block-content {
  font-family: basker1;
  color: black;
  font-size: 2.5rem;
  /* margin-right: 2rem; */
  margin: 0.8rem 2rem 0.5rem 0rem;
}
.block-content.alter {
  font-size: 1.8rem;
}
.block-content.top {
  font-size: 2.6rem;
}
.block-content-left {
  width: 80%;
  /* width: max-content; */
  font-family: basker1;
  color: black;
  font-size: 1.6rem;
}
.block-content-link {
  font-family: basker1;
  color: var(--accent-color);
  font-size: 2.5rem;
  text-decoration: none;
}
.block-content-link.alter {
  font-size: 2rem;
}
.news-right {
  width: 100%;
  height: max-content;
  border: 1px dotted #d4f4ea;
  background-color: var(--right-color);
  box-shadow: 5px 5px 100px 20px rgba(255, 255, 255, 0.5);
  padding: 0.8rem 1rem 0.5rem 2rem;
  margin-bottom: 3rem;
}
.guild-update {
  font-size: 5rem;
  font-family: linea;
  color: var(--accent-color);
  /* text-shadow: 0px 20px 35px rgb(0 39 255 / 55%); */
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #30ffc3;
  transition: all 0.5s ease-in-out;
}
.guild-info {
  font-size: 4rem;
  font-family: basker1;
  color: var(--accent-color);
  /* text-shadow: 0px 20px 35px rgb(0 39 255 / 55%); */
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #30ffc3;
  margin: 0;
  transition: all 0.5s ease-in-out;
}
.guild-info.about {
  /* text-decoration: line-through; */
  text-decoration: none;
  font-size: 2.5rem;
  font-family: basker1;
  color: var(--accent-color);
  -webkit-text-stroke-width: 0px;
  /* -webkit-text-stroke-color: #30ffc3; */
}
.guild-info.link {
  font-size: 2rem;
  -webkit-text-stroke-width: 0px;
  color: #0027ff99;
  text-transform: lowercase;
  text-decoration: none;
}
#title {
  /* text-align: center; */
  font-family: healB;
  color: var(--accent-color);
  font-size: 20rem;
  margin: 0;
}
.pagemain {
  display: flex;
  height: 100%;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}
.pages {
  width: 30vw;
  height: max-content;
  /* border: 1px solid var(--accent-color); */
  background-color: white;
  box-shadow: 5px 5px 100px 20px rgba(255, 255, 255, 0.5);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.pages.second {
  font-family: basker1;
  /* border-top: 0.5px black solid; */
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1.5rem;
}
.pages.third {
  width: 100%;
  height: max-content;
  background-color: white;
  box-shadow: 5px 5px 100px 20px rgba(255, 255, 255, 0.5);
  padding: 1rem;
  /* display: flex; */
  flex-direction: c olumn;
  font-family: basker1;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  /* margin-left: 1rem; */
}
.pagelinks {
  font-family: basker2;
  color: black;
  font-size: 2rem;
  text-decoration: none;
  /* margin-left: 1rem; */
  border-left: 0.5px solid black;
  border-bottom: 0.5px solid black;
  padding-left: 0.5rem;
}
.pagelinks.active {
  color: var(--accent-color);
}
.change {
  font-feature-settings: none;
  /* text-shadow: 2px -3px 6px rgba(0, 0, 255, 0.55),
    2px -30px 18px rgba(0, 0, 255, 0.26),
    1px -14px 17px rgba(255, 254, 252, 0.18); */
}

/* .pagelinks.change {
  font-size: 2rem;
  font-family: healB;
} */
.contactlinks {
  font-family: basker1;
  color: var(--accent-color);
  font-size: 1.5rem;
  text-decoration: underline;
  margin-left: 1rem;
}
.contactlinks.bang {
  font-family: basker1;
  color: var(--accent-color);
  font-size: 1.8rem;
  text-decoration: line-through;
  /* margin-left: 1rem; */
}
#refreshBTN {
  border: 1px white dotted;
  display: flex;
  /* position: fixed; */
  left: 2vw;
  top: 5vh;
  padding: 0.5rem;
  margin-top: 1rem;
  background: #0000ffc4;
  border: none;
  /* box-shadow: 2px 2px 20px rgb(134 147 243 / 49%); */
  color: white;
  /* text-decoration: line-through; */
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
}

.signup {
  clear: left;
  font-family: basker1;
  font-size: 2.5rem;
  color: var(--accent-color);
}
#signup-header {
  font-family: healB;
  font-size: 3rem;
}
.fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input {
  color: black;
  font-family: basker1;
  font-size: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #676767;
}
#mce-EMAIL {
  border: none;
  border-bottom: 2px dotted var(--accent-color);
  outline: none;
}
#mce-FNAME {
}
#mce-LNAME {
}
#mc-embedded-subscribe {
  background: var(--accent-color);
  border: none;
  box-shadow: 2px 2px 20px rgb(134 147 243);
  color: white;
}
.mc-field-group {
  color: black;
  width: 30vw;
  display: flex;
  /* border: 2px dotted var(--accent-color); */
  flex-direction: row;
  justify-content: space-between;
  /* border: 2px dotted var(--accent-color); */
}
.asterisk {
  color: var(--accent-color);
}
.text {
  border: none;
  border-bottom: 2px dotted var(--accent-color);
  outline: none;
}
.button {
}
.clear.foot {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.mtag {
  font-size: 3rem;
  font-style: italic;
  color: rgb(62, 62, 62);
}

/* Hover states
-------------------------------------
 */
.pagelinks:hover {
  color: #ffffff;
  text-shadow: 0px 0px 10px var(--accent-color);
  text-decoration: underline;
  transform: translateX(8%) scale(1.1);
  text-decoration: none;
}
.guild-info.link:hover {
  color: #ffffff;
  text-shadow: 0px 0px 10px var(--accent-color);
  text-decoration: underline;
  transform: translateX(8%) scale(1.1);
}

.block-content-link:hover {
  color: #ffffff;
  text-shadow: 0px 0px 10px var(--accent-color);
  text-decoration: underline;
  text-decoration: none;
}
.contactlinks:hover {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0px 0px 10px var(--accent-color);
  /* text-decoration: underline; */
  /* transition: all 0.2s ease-in-out; */
  transform: translateX(5%) scale(1.1);
}
::selection {
  background: white;
  color: var(--accent-color);
}
.header:hover {
  cursor: vertical-text;
  text-decoration: none;
}
.popup-content:hover {
  cursor: progress;
}

/* .guild-info:hover {
  color: #ffffff;
  text-shadow: 0px 0px 20px var(--accent-color);
  text-decoration: none;
} */
.guild-info.about:hover {
  color: #ffffff;
  text-shadow: 0px 0px 10px var(--accent-color);
  /* text-decoration: underline; */
  text-decoration: none;
}
#mc-embedded-subscribe:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 50px rgb(63 102 244 83%);
  cursor: alias;
}
.change:hover {
  background: white;
  /* color: var(--accent-color); */
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0px 5px 15px var(--accent-color);
}
#inthere:hover {
  transform: rotate(50deg);
  transition: all 0.5s ease-in-out;
}
#refreshBTN:hover {
  box-shadow: rgb(85, 105, 255) 2px 2px 20px;
}
/*

`

*/

@keyframes notice-ani {
  from {
    text-shadow: 0px 0px 10px rgba(0, 0, 255, 0.55),
      0px 20px 18px rgb(0 0 255 / 19%), 1px -14px 17px rgba(255, 254, 252, 0.18);
    transform: translate(0, 0);
  }
  to {
    text-shadow: 0px 0px 10px rgba(0, 0, 255, 0.55),
      0px -20px 18px rgb(0 0 255 / 19%),
      1px -14px 17px rgba(255, 254, 252, 0.18);
    transform: translate(-10%, 10%);
  }
}

/* all the mobile getting handled here */
@media only screen and (max-width: 800px) {
  body {
    /* background-color: lightblue; */
    width: 100vw;
    margin: 0px;
    padding: 1rem;
  }
  #title {
    font-size: 12rem;
    line-height: 0.95;
  }
  .container-side {
    display: none;
  }
  .container-right.work {
    width: 95vw;
  }
  #signup-header {
    font-size: 2.5rem;
  }
  .block-img {
    width: 100%;
  }
  .popup-content {
    max-width: 100%;
  }
  .pages.third {
    display: none;
  }
  .header {
    margin: 0px;
  }
  .main {
    flex-direction: column;
    position: absolute;
    left: 4vw;
    top: 56%;
    margin: 0px;
    /* transform: translate(-50%, 0); */
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .slider {
    width: 90vw;
  }
  .navbar-container {
    gap: 3rem;
    margin: 0px;
    /* width: 100%; */
  }
  .mtag {
    font-size: 3rem;
  }
  .container-right {
    width: 92vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .container-side {
  }
  .guild-update {
    font-size: 4rem;
    -webkit-text-stroke-width: 0.04px;
    -webkit-text-stroke-color: #30ffc3;
  }
  #refreshBTN {
    display: none;
  }
  #change-ground {
    display: none;
  }
  .guild-info {
    font-size: 2.4rem;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #30ffc3;
  }
  .signup {
    font-size: 2rem;
  }
  .pagemain {
    justify-content: flex-start;
  }
  .mc-field-group {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .fields {
    gap: 1.5rem;
  }
  .block-title {
    font-size: 2.5rem;
  }
  .block-content {
    font-size: 1.9rem;
  }
  .block-content-link {
    font-size: 2rem;
  }
  .block-title.about {
    font-size: 2.5rem;
  }
  .pages {
    width: 100%;
  }
}
