/* @font-face {
  font-family: healB;
  src: url("fonts/healthewebb-regular-webfont.woff"),
    url("fonts/healthewebb-regular-webfont.woff2");
} */
@font-face {
  font-family: healB;
  src: url("fonts/HealTheWebB-Regular.otf");
}
@font-face {
  font-family: linea;
  src: url("fonts/Linea.otf");
}
@font-face {
  font-family: basker1;
  src: url("fonts/BBBBaskervvol-Base.woff"),
    url("fonts/BBBBaskervvol-Base.woff2");
}
@font-face {
  font-family: basker2;
  src: url("fonts/BBBBaskervvol-Fondue.woff"),
    url("fonts/BBBBaskervvol-Fondue.woff2");
}
:root {
  --main-color: #00ffb366;
  --right-color: #9affe1d6;

  --accent-color: blue;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  margin: 0px;
  background: white url("") repeat scroll -18px -10px;
}
.change-back {
  position: fixed;
  left: 5vw;
  bottom: 2vh;
  font-size: 2rem;
  font-family: basker1;
}
.main {
  position: absolute;
  left: 5vw;
  top: 5vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
}
.container-left {
  /* width: max-content; */
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
}
.container-right {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.header {
  width: max-content;
  /* width: 100%; */
  height: max-content;
  border: 3px dotted var(--accent-color);
  background-color: white;
  box-shadow: 5px 5px 100px 20px rgba(255, 255, 255, 0.5);
  padding: 1rem;
  /* margin: 1rem; */
}
.header-right {
  width: 100%;
  height: max-content;
  border: 3px dotted #d4f4ea;
  background-color: var(--right-color);
  box-shadow: 5px 5px 100px 20px rgba(255, 255, 255, 0.5);
  padding: 0.8rem 1rem 0.5rem 3rem;
  margin-bottom: 1rem;
}
.news-right {
  width: 100%;
  height: max-content;
  border: 3px dotted #d4f4ea;
  background-color: var(--right-color);
  box-shadow: 5px 5px 100px 20px rgba(255, 255, 255, 0.5);
  padding: 0.8rem 1rem 0.5rem 3rem;
  margin-bottom: 3rem;
}
.guild-update {
  font-size: 5rem;
  font-family: linea;
  color: var(--accent-color);
  /* text-shadow: 0px 20px 35px rgb(0 39 255 / 55%); */
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #30ffc3;
  transition: all 0.5s ease-in-out;
}
.guild-info {
  font-size: 4rem;
  font-family: basker1;
  color: var(--accent-color);
  /* text-shadow: 0px 20px 35px rgb(0 39 255 / 55%); */
  -webkit-text-stroke-width: 0.9px;
  -webkit-text-stroke-color: #30ffc3;

  transition: all 0.5s ease-in-out;
}
.guild-info.about {
  /* text-decoration: line-through; */
  text-decoration: none;
  font-size: 2.5rem;
  font-family: basker1;
  color: var(--accent-color);
  -webkit-text-stroke-width: 0px;
  /* -webkit-text-stroke-color: #30ffc3; */
}
.guild-info.link {
  font-size: 2rem;
  -webkit-text-stroke-width: 0px;
  color: #0027ff99;
  text-transform: lowercase;
  text-decoration: none;
}
#title {
  /* text-align: center; */
  font-family: healB;
  color: black;
  font-size: 4rem;
}
.pagemain {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.pages {
  width: 100%;
  height: max-content;
  border: 3px dotted var(--accent-color);
  background-color: white;
  box-shadow: 5px 5px 100px 20px rgba(255, 255, 255, 0.5);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.pages.second {
  font-family: basker1;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1.5rem;
}
.pages.third {
  width: 100%;
  height: max-content;
  border: 3px dotted var(--accent-color);
  background-color: white;
  box-shadow: 5px 5px 100px 20px rgba(255, 255, 255, 0.5);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-family: basker1;
  color: black;
  /* font-size: 1.5rem; */
  text-decoration: none;
  /* margin-left: 1rem; */
}
.pagelinks {
  font-family: basker2;
  color: black;
  font-size: 2rem;
  text-decoration: none;
  margin-left: 1rem;
  /* margin: 1rem; */
}
.pagelinks.active {
  color: var(--accent-color);
}
.change {
  font-feature-settings: none;
  text-shadow: 2px -3px 6px rgba(0, 0, 255, 0.55),
    2px -30px 18px rgba(0, 0, 255, 0.26),
    1px -14px 17px rgba(255, 254, 252, 0.18);
}

/* .pagelinks.change {
  font-size: 2rem;
  font-family: healB;
} */
.contactlinks {
  font-family: basker1;
  color: var(--accent-color);
  font-size: 1.5rem;
  text-decoration: line-through;
  margin-left: 1rem;
}
.contactlinks.bang {
  font-family: basker1;
  color: var(--accent-color);
  font-size: 1.8rem;
  text-decoration: line-through;
  /* margin-left: 1rem; */
}
#refreshBTN {
  border: 1px white dotted;
  display: flex;
  /* position: fixed; */
  left: 2vw;
  top: 5vh;
  padding: 0.5rem;
  margin-top: 1rem;
  background: #0000ffc4;
  border: none;
  /* box-shadow: 2px 2px 20px rgb(134 147 243 / 49%); */
  color: white;
  /* text-decoration: line-through; */
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
}
/* blocks formating */
.block-title {
  font-family: healB;
  font-size: 3rem;
  color: var(--accent-color);
}
.block-content {
  font-family: basker1;
  color: black;
  font-size: 2.5rem;
  margin-right: 2rem;
}
.block-content.top {
  font-size: 2.6rem;
}
.block-content-left {
  width: 80%;
  /* width: max-content; */
  font-family: basker1;
  color: black;
  font-size: 1.6rem;
}
.block-content-link {
  font-family: basker1;
  color: var(--accent-color);
  font-size: 2.5rem;
  text-decoration: none;
}
.signup {
  clear: left;
  font-family: basker1;
  font-size: 2.5rem;
  color: var(--accent-color);
}
#signup-header {
  font-family: healB;
  font-size: 3rem;
}
.fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input {
  color: black;
  font-family: basker1;
  font-size: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #676767;
}
#mce-EMAIL {
  border: none;
  border-bottom: 2px dotted var(--accent-color);
  outline: none;
}
#mce-FNAME {
}
#mce-LNAME {
}
#mc-embedded-subscribe {
  background: var(--accent-color);
  border: none;
  box-shadow: 2px 2px 20px rgb(134 147 243);
  color: white;
}
.mc-field-group {
  color: black;
  width: 30vw;
  display: flex;
  /* border: 2px dotted var(--accent-color); */
  flex-direction: row;
  justify-content: space-between;
  /* border: 2px dotted var(--accent-color); */
}
.asterisk {
  color: var(--accent-color);
}
.text {
  border: none;
  border-bottom: 2px dotted var(--accent-color);
  outline: none;
}
.button {
}
.clear.foot {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.pagelinks:hover {
  color: #ffffff;
  text-shadow: 0px 0px 10px var(--accent-color);
  text-decoration: underline;
  transform: translateX(8%) scale(1.1);
  text-decoration: none;
}
.guild-info.link:hover {
  color: #ffffff;
  text-shadow: 0px 0px 10px var(--accent-color);
  text-decoration: underline;
  transform: translateX(8%) scale(1.1);
  /* text-decoration: none; */
}

.block-content-link:hover {
  color: #ffffff;
  text-shadow: 0px 0px 10px var(--accent-color);
  text-decoration: underline;
  text-decoration: none;
}
.contactlinks:hover {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0px 0px 10px var(--accent-color);
  /* text-decoration: underline; */
  /* transition: all 0.2s ease-in-out; */
  transform: translateX(10%) scale(1.1);
}
::selection {
  background: white;
  color: var(--accent-color);
}
.header:hover {
  cursor: vertical-text;
  text-decoration: none;
}
.guild-info:hover {
  color: #ffffff;
  text-shadow: 0px 0px 20px var(--accent-color);
  /* text-decoration: underline; */
  text-decoration: none;
}
.guild-info.about:hover {
  color: #ffffff;
  text-shadow: 0px 0px 10px var(--accent-color);
  /* text-decoration: underline; */
  text-decoration: none;
}
#mc-embedded-subscribe:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 50px rgb(63 102 244 83%);
  cursor: alias;
}
.change:hover {
  background: white;
  /* color: var(--accent-color); */
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0px 5px 15px var(--accent-color);
}
#inthere:hover {
  transform: rotate(50deg);
  transition: all 0.5s ease-in-out;
}
#refreshBTN:hover {
  box-shadow: rgb(85, 105, 255) 2px 2px 20px;
}
/* all the mobile getting handled here */
@media only screen and (max-width: 900px) {
  body {
    /* background-color: lightblue; */
    width: 100vw;
    margin: 0px;
    padding: 1rem;
  }
  .pages.third {
    display: none;
  }
  .main {
    flex-direction: column;
    position: absolute;
    left: 50%;
    /* top: 50%; */
    transform: translate(-50%, 0);
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .container-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .header-right {
    padding: 0.8rem 1rem 0.5rem 2rem;
  }
  .guild-update {
    font-size: 4rem;
    -webkit-text-stroke-width: 0.04px;
    -webkit-text-stroke-color: #30ffc3;
  }
  #refreshBTN {
    display: none;
  }
  #change-ground {
    display: none;
  }
  .guild-info {
    font-size: 2.4rem;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #30ffc3;
  }
  .signup {
    font-size: 2rem;
  }
  .mc-field-group {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .fields {
    gap: 1.5rem;
  }
  .block-title {
    font-size: 2.5rem;
  }
  .block-content {
    font-size: 2rem;
  }
  .block-content-link {
    font-size: 2rem;
  }
}
